body {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  transition: var(--transition);
  margin: 0%;
  padding: 0;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Bai Jamjuree", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --color: #e84393;
  --transition: 500ms;
}
.container {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  text-align: center;
  background: #fff5fa;
  margin-bottom: 50px;
}
.center h2 {
  font-size: 5rem;
}
.center h2 span {
  font-size: 5rem;
  color: var(--color);
}
@media (max-width: 767px) {
  .center h2,
  .center h2 span {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  .center h2,
  .center h2 span {
    font-size: 3rem;
  }
}
/* start header  */
header {
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0px -15px 30px 0px black;
  background: #fff;
  z-index: 5;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav {
  min-width: 500px;
}
header .container nav span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav span a {
  color: #0000008f;
  font-weight: 500;
  font-size: 20px;
}
header .container nav span a:hover {
  color: var(--color);
  transition: 500ms;
}
header .container .i a {
  color: #000;
  font-size: 25px;
  margin: 5px;
}
header .container .i a:hover {
  color: var(--color);
  transition: var(--transition);
}
header .container .logo a {
  font-weight: bold;
  font-size: 30px;
  color: #000;
}
header .container .logo a:hover {
  color: var(--color);
  transition: var(--transition);
}
header .container .menu {
  display: none;
  border: solid 1px #8b7c7c;
  border-radius: 5px;
  position: relative;
}
header .container .menu i {
  font-size: 20px;
  margin: 5px;
}
header .container .menu:hover navbar {
  display: flex;
}
header .container .menu i navbar {
  position: absolute;
  display: none;
  top: 55px;
  left: -30px;
}
header .container .menu i navbar div {
  line-height: 2;
  width: 95vw;
  background: #eee;
  padding: 10px;
  position: relative;
}
header .container .menu i navbar div::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-color: transparent transparent #eeeeee transparent;
  border-width: 25px;
  top: -50px;
  left: 20px;
}
header .container .menu i navbar div a {
  display: block;
  background: #fff;
  margin-bottom: 15px;
  padding-left: 10px;
  color: #000;
}
header .container .menu i navbar div a:hover {
  color: var(--color);
  transition: var(--transition);
  padding-left: 20px;
}
header .container .menu i navbar div a:last-child {
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  header .container nav span a {
    font-size: 16px;
  }
  header .container nav {
    min-width: 400px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  header .container nav span a {
    font-size: 16px;
  }
  header .container nav {
    display: none;
  }
  header .container .menu {
    display: block;
  }
}
/* end header  */
/* start home  */
.home {
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 50px;
}
.home .container {
  position: relative;
}
.home .container .text {
  position: absolute;
  top: 200px;
  left: 100px;
  max-width: 46rem;
}
.home .container .text h1 {
  font-size: 7rem;
  font-weight: 800;
  color: #000000c7;
}
.home .container .text p:nth-child(2) {
  color: var(--color);
  font-size: 3rem;
  margin-bottom: 15px;
}
.home .container .text p:nth-child(3) {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 50%;
  margin-bottom: 15px;
  line-height: 1.7;
}
.home .container .text button {
  border-style: none;
  background: #000000d9;
  padding: 10px;
  border-radius: 20px;
  transition: var(--transition);
  cursor: pointer;
}
.home .container .text button:hover {
  background-color: var(--color);
}

.home .container .text button a {
  color: #fff;
  padding: 10px 30px;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .home .container .text h1 {
    font-size: 5rem;
  }
  .home .container .text p:nth-child(2) {
    font-size: 2rem;
  }
  .home .container .text p:nth-child(3) {
    font-size: 1.4rem;
  }
  .home .container .text {
    left: 50px;
  }
  .home {
    background-position: right;
  }
}
@media (max-width: 480px) {
  .home .container .text h1 {
    font-size: 4rem;
  }
  .home .container .text p:nth-child(2) {
    font-size: 1.6rem;
  }
  .home .container .text p:nth-child(3) {
    font-size: 1.1rem;
    max-width: 300px;
  }
  .home .container .text {
    left: 25px;
    top: 190px;
  }
  .home {
    background-position: left;
  }
  .home .container .text button {
    padding: 5px;
  }
}
/* end home  */
/* start about */
.about {
  padding-bottom: 5rem;
}
.about .container .content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.about .container .content .vid {
  padding: 1.5rem;
  box-shadow: 0px 0 10px -5px #000;
  position: relative;
  width: 50%;
  margin-top: 3rem;
  height: 100%;
}
.about .container .content .vid p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 900;
  width: 99%;
  text-align: center;
  background: #fff;
  mix-blend-mode: screen;
}
.about .container .content .vid video {
  width: 100%;
}
.about .container .content .text {
  padding: 1rem;
  width: 50%;
}
.about .container .content .text h3 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.about .container .content .text p:nth-child(2) {
  line-height: 1.5;
  margin-bottom: 2rem;
  opacity: 60%;
}
.about .container .content .text p:nth-child(3) {
  line-height: 1.5;
  opacity: 60%;
}
.about .container .content .text a {
  background: #000000e6;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 2rem;
}
.about .container .content .text a:hover {
  background-color: var(--color);
}
@media (max-width: 900px) {
  .about .container .content {
    flex-direction: column;
    gap: 5rem;
  }
  .about .container .content .text {
    width: 80%;
  }
  .about .container .content .vid {
    width: 90%;
  }
}
@media (max-width: 580px) {
  .about .container .content .vid p {
    font-size: 2.5rem;
  }
  .about .container .content .text p:nth-child(2),
  .about .container .content .text p:nth-child(3) {
    font-size: 1.3rem;
  }
}
@media (max-width: 380px) {
  .about .container .content .vid p {
    font-size: 2rem;
  }
  .about .container .content .text h3 {
    font-size: 2.5rem;
  }
  .about .container .content .text p:nth-child(2),
  .about .container .content .text p:nth-child(3) {
    font-size: 1.2rem;
  }
}
/* end about */
/* start info */
.info {
  background: #eee;
  padding: 5rem 0 5rem;
  margin-bottom: 5rem;
}
.info .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.info .container div {
  display: flex;
  padding: 10px;
  background: #fff;
}
.info .container div .text {
  display: block;
}
.info .container div .icon img {
  width: 65%;
}
/* end info */
/* start products */
.products {
  margin-bottom: 5rem;
}
.products .container .section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}
.products .container .section .box {
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px -5px #000;
  border-radius: 0px 0px 10px 10px;
  position: relative;
}
.products .container .section .box:after {
  position: absolute;
  content: "-15%";
  top: 10px;
  left: 10px;
  background: #fff5fa;
  width: 6rem;
  height: 3rem;
  line-height: 2;
  border-radius: 10px;
  color: var(--color);
  font-weight: 700;
}
.products .container .section .box .img {
  perspective: 300px;
}
.products .container .section .box .img img {
  max-width: 70%;
  border-radius: 10px;
  margin-top: 2rem;
}
.products .container .section .box .text {
  padding: 20px;
  background: #fff;
  z-index: 2;
  position: relative;
  border-radius: 0 0 10px;
}
.products .container .section .box .text h3 {
  font-size: 2rem;
}
.products .container .section .box .text p {
  font-size: 2rem;
  color: var(--color);
  font-weight: 700;
}
.products .container .section .box .text p span {
  font-size: 1.5rem;
  text-decoration: line-through;
  margin-left: 1rem;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.464);
}
.products .container .section .box .heddin {
  background: var(--color);
  width: calc(100%);
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 380px) {
  .products .container .section .box .heddin a,
  .products .container .section .box .heddin .fas {
    font-size: 13px;
  }
}
.products .container .section .box:hover .heddin {
  bottom: 7.6rem;
}
.products .container .section .box:hover img {
  transform: translate3d(0, 0, 25px);
}
.products .container .section .box .heddin a {
  color: #fff;
  background: var(--color);
  padding: 15px 12%;
  font-size: 15px;
}
.products .container .section .box .heddin .fas {
  color: #fff;
  padding: 15px 0;
  padding-right: 10%;
  padding-left: 10%;
}
/* end products */
/* start Review */
.review {
  margin-bottom: 5rem;
}
.review .container .section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .container .section .box {
  flex-basis: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 0 10px -1px #000;
  border-radius: 10px;
}
.review .container .section .box .stars {
  padding-bottom: 2rem;
}
.review .container .section .box .text {
  padding-bottom: 2rem;
  opacity: 50%;
}
.review .container .section .box .profile .text {
  opacity: 1;
  padding-bottom: 0;
}
.review .container .section .box .profile .text h3 {
  font-size: 2rem;
  font-weight: 900;
}
.review .container .section .box .profile .text p {
  opacity: 50%;
}
.review .container .section .box .stars i {
  color: var(--color);
  font-size: 2rem;
}
.review .container .section .box .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review .container .section .box .profile img {
  width: 60px;
  border-radius: 50%;
  margin-right: 1rem;
}
.review .container .section .box .profile .fas {
  font-size: 50px;
  opacity: 40%;
}
/* end Review */
/* start contact */
.contact {
  margin-bottom: 50px;
}
.contact .section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contact .section .box-1 {
  flex-basis: 30rem;
  flex-grow: 1;
  flex-shrink: 1;
}
.contact .section .box-1 form {
  box-shadow: 0 0 5px #000;
  line-height: 4;
  padding: 2rem;
  padding: 2rem;
  border-radius: 10px;
}
.contact .section .box-1 form input {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px #eee;
  outline: none;
}
.contact .section .box-1 form input:focus {
  border: solid 1px var(--color);
}
.contact .section .box-1 form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: solid 1px #eee;
}
.contact .section .box-1 form textarea:focus {
  border: solid 1px var(--color);
}
.contact .section .box-2 {
  flex-basis: 30rem;
  flex-grow: 1;
  flex-shrink: 1;
}
/* end contact */
/* stars end */
.end .container .section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.end .container .section .col-1,
.end .container .section .col-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  flex: 1 1 220px;
}
.end .container .section .col-1 a,
.end .container .section .col-2 a {
  padding: 10px 100px 10px 0;
  color: #000;
  opacity: 50%;
}
.end .container .section .col-2 img {
  width: 180px;
}
.end .container .section .col-1 a:hover,
.end .container .section .col-2 a:hover {
  color: var(--color);
  opacity: 1;
  text-decoration: underline;
}
/* end end */
hr {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  opacity: 50%;
}
/* start footer */
footer .container .footer h2,
footer .container .footer span {
  font-size: 30px;
}
footer .container .footer {
  background-color: #fff;
}
@media (max-width: 780px) {
  footer .container .footer h2,
  footer .container .footer span {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  footer .container .footer h2,
  footer .container .footer span {
    font-size: 15px;
  }
}
/* end footer */
